<app-menu></app-menu>
<section class="heading">
    <span class="page-title font-weight-bold font italic"> [{{title}}]</span>
    <a routerLink='/lineItem-add'>
        <img width='20' height='20' src='assets/add-icon.png' title='Add New'>
    </a>
</section>
<main class="single">
    <table *ngIf='lineItem' class="table table-sm table-striped">

        <tr>
            <td>ID</td>
            <td>{{lineItem.id}}</td>
        </tr>

        <tr>
            <td>Requestor</td>
            <td>{{lineItem.request.id}}</td>
        </tr>
        <tr>
            <td>Product</td>
            <td>
                <!-- <input [(ngModel)]="product.description" class="rounded" type=""> -->

            </td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td>{{lineItem.quantity}}</td>
        </tr>


    </table>
</main>
<span>
    <button (click)="save()" class="btn btn-sm btn-primary">{{submitBtnTitle}}</button>
</span> |