<app-menu></app-menu>
<main>
    <table *ngIf='request' class="table table-sm table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Status</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{requestID}}</td>
                <td>{{request.description}}</td>
                <td>{{request.status}}</td>
                <td>{{request.total | currency}}</td>
            </tr>
        </tbody>
    </table>
    <section *ngIf='request' class="heading">
        <span class="page-title font-weight-bold font italic"> {{title }}</span>
    </section>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Line Total</th>
                <th>Action</th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor='let lineItem of lineItems'>
                <td>{{lineItem.id}}</td>
                <td>{{lineItem.product.name}}</td>
                <td>{{lineItem.quantity}}</td>
                <td>{{lineItem.product.price | currency}}</td>
                <td>{{lineItem.quantity * lineItem.product.price | currency}}</td>

                <td>
                    <a routerLink='/request-approve/{{request.id}}'>
                        <img width='20' height='20' src='assets/review.png' title='Approve'>
                    </a> -->
                    <a><input [(ngModel)]="request.reasonForRejection" type="textarea" id="rejection"
                            placeholder="Reason for rejection..."></a>

                    <a routerLink='/request-detail/{{request.id}}'>
                        <img width='20' height='20' src='assets/details.png' title='request Details'></a>
                    <span>
                        <button (click)="save()" class="btn btn-sm btn-primary">{{submitBtnTitle}}</button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</main>