<app-menu></app-menu>
<div class="component">
    <section class="heading">
        <span class="page-title font-weight-bold font-italic">{{title}}</span>
        <span>&nbsp;<a routerLink="/request-list"> Return to List </a></span>
        <br>
    </section>

    <table *ngIf='request' class="table table-sm table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Status</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf='request'>
                <td>{{request.id}}</td>
                <td>{{request.description}}</td>
                <td>{{request.status}}</td>
                <td>{{request.total | currency}}</td>
            </tr>
        </tbody>
        <table>
            <tr>
                <td>ID</td>
                <td>{{lineItem.id}}</td>
                <td>Product</td>
                <td>{{lineItem.product}}</td>
                <td>Quantity</td>
                <td>{{lineItem.quantity}}</td>
                <td>Price</td>
                <td>{{lineItem.price}}</td>
                <td>Total</td>
                <td>{{lineItem.quantity * lineItem.product.price | currency}}</td>

                <td>
                    <a routerLink='/request-approve/{{request.id}}'>
                        <img width='20' height='20' src='assets/review.png' title='Approve'>
                    </a>
                    <a><input [(ngModel)]="request.reasonForRejection" type="textarea" id="rejection"
                            placeholder="Reason for rejection..."></a>

                    <a routerLink='/request-detail/{{request.id}}'>
                        <img width='20' height='20' src='assets/details.png' title='request Details'></a>
                    <span>
                        <button (click)="save()" class="btn btn-sm btn-primary">{{submitBtnTitle}}</button>
                    </span>
                </td>
            </tr>

        </table>
    </table>